{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Bakery | Cart Page</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h5 class="background1 text-light text-center p-2 mt-2">Cart Page</h5>
    <div class="table table-responsive">
        <table class="table table-responsive table-bordered table-striped table-hover">
            <tr>
                <th></th>
                <th>Name</th>
                <th>CakeType</th>
                <th>Flavour</th>
                <th>Color</th>
                <th>Shape</th>
                <th>Price</th>
                <th></th>
                <th>Qty</th>
                <th></th>
                <th>Total</th>
                <th>Weight</th>
                <th></th>

            </tr>
            {% for i in cart %}
            <tr>
                <td><img src="{{i.pic}}" width="80px" height="65px" class="rounded " alt=""></td>
                <td>{{i.name}}</td>
                <td>{{i.cakeType}}</td>
                <td>{{i.flavour}}</td>
                <td>{{i.color}}</td>
                <td>{{i.shape}}</td>
                <td class="" style="color: rgb(61, 10, 108);font-weight: bolder;">&#8377;{{i.price}}</td>
                <td><a href="/update-cart/{{i.pid}}/dec"><i class="bi bi-dash fs-4"></i></a></td>
                <td>{{i.qty}}</td>
                <td><a href="/update-cart/{{i.pid}}/inc"><i class="bi bi-plus fs-4"></i></a></td>
                <td class="" style="color: rgb(61, 10, 108);font-weight: bolder;">&#8377;{{i.total}}</td>
                <td>{{i.weight}}gram</td>
                <td><a href="/delete-cart/{{i.pid}}"><i class="bi bi-trash"></i></a></td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <div class="col-md-6 col-12"></div>
        <div class="col-md-6 col-12">
            <table class="table table-responsive table-bordered table-striped table-hover">
                <tr>
                    <th>Total Amount</th>
                    <td class="" style="color: rgb(61, 10, 108);font-weight: bolder;">&#8377;{{total}}</td>
                </tr>
                <tr>
                    <th>Shipping Amount</th>
                    <td class="" style="color: rgb(61, 10, 108);font-weight: bolder;">&#8377;{{shipping}}</td>
                </tr>
                <tr>
                    <th>Final Amount</th>
                    <td class="" style="color: rgb(61, 10, 108);font-weight: bolder;">&#8377;{{final}}</td>
                </tr>
                {% if final %}
                <tr>
                    <th colspan="2"><a href="/checkout/" class="btn btn-dark  text-light w-100 p-2"
                            style="font-size: larger;">Checkout</a></th>
                </tr>

                {% endif %}
            </table>
        </div>

    </div>
</div>

{% endblock %}