{% extends 'index.html' %}
{%block title %}
<title>Bakery | Reviews Page</title>
{%endblock title%}
{% block content %}
<section style="background: url(../static/images/pex.jpg);" class="text-light">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4 background1 text-light p-2 mt-4"
        style="border-bottom: 10px solid rgb(94, 92, 92); border-radius: 50px;">Reviews</h3>
      <h4 class="mb-4 pb-2 mb-md-5 pb-md-0 fst-italic ">
        <b> We are very Happy for Reviews.My customers are very jolly with my product. Lets seen customers views
        </b>
      </h4>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="../static/images/p31.jpeg" class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Dileep Rathore</h5>
      <h6 class="text-primary mb-3">Software Engineer</h6>
      <p class="px-xl-3">
        <i class="bi bi-quote-left pe-2"></i>I am vary jolly to shering my thoughts or my views,This is good plateform
        and provide good service ✨✨
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star-half-alt fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="../static/images/dileep (1).jpg" class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Ajay Dau🙂🙂</h5>
      <h6 class="text-primary mb-3">Artisan</h6>
      <p class="px-xl-3">
        <i class="bi bi-quote-left pe-2"></i>Hello guys Thanks for provide this plateform and thanks for giving good
        survice ✨✨✌️
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="../static/images/dileep (2).jpg" class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Abhi Thakur😊😊</h5>
      <h6 class="text-primary mb-3">Govt. servent</h6>
      <p class="px-xl-3">
        <i class="bi bi-quote-left pe-2"></i>Thanks all Bakery Team !!! Cake was very Luscious ✨✨
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="bi bi-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="far fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}