{% extends 'index.html' %}
{%block title %}
<title>Bakery | Login Page</title>
{%endblock title%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-md-2 col-1"></div>
                <div class="col-md-8 col-10">
                    <h5 class="background1 text-light text-center rounded p-2">Singup Section</h5>

                    {% for i in messages %}
                    <div class="alert alert-danger  alert-dismissible fade show text-center p-4" role="alert">
                        {{i}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endfor%}
                    <form method="post">
                        {% csrf_token %}

                        <div class="row mb-3">
                            <div class="col-md-6 col-12">
                                <label class="form-label">Full Name</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">@</span>
                                    <input type="text" class="form-control" name="name"
                                        placeholder="Enter Full Name.... ">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="form-label">Username</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">@</span>
                                    <input type="text" class="form-control" name="username"
                                        placeholder="Enter User Name....">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 col-12">
                                <label class="form-label">Email</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">@</span>
                                    <input type="email" class="form-control" name="email"
                                        placeholder="Enter Email.... ">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="form-label">Phone Number</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">@</span>
                                    <input type="num'" class="form-control" name="phone"
                                        placeholder="Enter Phone Number....">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 col-12">
                                <label class="form-label">Password</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">@</span>
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Enter Password.... ">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="form-label">Confirm Password</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">@</span>
                                    <input type="password" class="form-control" name="cpassword"
                                        placeholder="Enter Confirm Password....">
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn background1 btn-secondary text-light w-100 ">Login</button>
                    </form>

                    <a href="/login/" class="text-decoration-none">Already User? Login To Your Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock content %}